<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.semlab.dao.UserMapper">
  <resultMap id="BaseResultMap" type="org.semlab.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="reg_date" jdbcType="TIMESTAMP" property="regDate" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="research_field" jdbcType="VARCHAR" property="researchField" />
    <result column="locked" jdbcType="BIT" property="locked" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.semlab.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user (first_name, password, salt, 
      email, last_name, reg_date, 
      title, dept, research_field, 
      locked)
    values (#{firstName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{regDate,jdbcType=TIMESTAMP}, 
      #{title,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, #{researchField,jdbcType=VARCHAR}, 
      #{locked,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.semlab.model.User">
    update t_user
    set first_name = #{firstName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      reg_date = #{regDate,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      research_field = #{researchField,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, first_name, password, salt, email, last_name, reg_date, title, dept, research_field, 
    locked
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, first_name, password, salt, email, last_name, reg_date, title, dept, research_field, 
    locked
    from t_user
  </select>
</mapper>